{
    Margin:0;
    padding:0;
}

body {
    background-color: antiquewhite;
    color: black;
}

h1 {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h3 {
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button {
    background-color: lavender;
}

ul {
    list-style-type: square;
}

ul.interlineado {
    line-height: 1.5;
}

ol {
    list-style-type: decimal;
}

ol.interlineado {
    line-height: 1.5;
}

img {
    width: 400px;
    height: 300px;
}